<div>
  <table border="1">
      <thead>
      <tr>
        <th
          *ngFor="let i of keyData"
          (click)="sorting(i)"
          style="cursor: pointer"
          [ngStyle]="{'color': i === 'name' ? 'red': 'black'}">
          {{i}}
        </th>
      </thead>
      <tbody>
      <tr *ngFor="let e of data | paginate: { itemsPerPage: count, currentPage: currentPage }">
        <td>{{e.id}}</td>
        <td>{{e.wbRating}}</td>
        <td>{{e.reviewsCount}}</td>
        <td>{{e.nomenclature}}</td>
        <td>{{e.sku}}</td>
        <td>{{e.name}}</td>
        <td>{{e.brandName}}</td>
        <td>{{e.brandId}}</td>
        <td><img [src]="e.image"></td>
        <td><img style="width: 100px" [src]="e.preview"></td>
        <td>{{e.ordered}}</td>
        <td>{{e.soldQuantity}}</td>
        <td>{{e.soldAmount}}</td>
        <td>{{e.orderedAmount}}</td>
        <td>{{e.availability}}</td>
      </tr>
      </tbody>
    </table>

  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
